/* FONTS */

/* lato-100 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/lato-v16-latin-100.eot");
  src: local("Lato Hairline"), local("Lato-Hairline"),
    url("../fonts/lato-v16-latin-100.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-100.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-100.woff") format("woff"),
    url("../fonts/lato-v16-latin-100.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-100.svg#Lato") format("svg");
}
/* lato-100italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/lato-v16-latin-100italic.eot");
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"),
    url("../fonts/lato-v16-latin-100italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-100italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-100italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-100italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-100italic.svg#Lato") format("svg");
}
/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v16-latin-300.eot");
  src: local("Lato Light"), local("Lato-Light"),
    url("../fonts/lato-v16-latin-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-300.woff") format("woff"),
    url("../fonts/lato-v16-latin-300.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-300.svg#Lato") format("svg");
}
/* lato-300italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/lato-v16-latin-300italic.eot");
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
    url("../fonts/lato-v16-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-300italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-300italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-300italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-300italic.svg#Lato") format("svg");
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v16-latin-regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-regular.woff") format("woff"),
    url("../fonts/lato-v16-latin-regular.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-regular.svg#Lato") format("svg");
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-v16-latin-italic.eot");
  src: local("Lato Italic"), local("Lato-Italic"),
    url("../fonts/lato-v16-latin-italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-italic.svg#Lato") format("svg");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v16-latin-700.eot");
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v16-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-700.woff") format("woff"),
    url("../fonts/lato-v16-latin-700.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-700.svg#Lato") format("svg");
}
/* lato-700italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lato-v16-latin-700italic.eot");
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"),
    url("../fonts/lato-v16-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-700italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-700italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-700italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-700italic.svg#Lato") format("svg");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v16-latin-900.eot");
  src: local("Lato Black"), local("Lato-Black"),
    url("../fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-900.woff") format("woff"),
    url("../fonts/lato-v16-latin-900.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-900.svg#Lato") format("svg");
}
/* lato-900italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/lato-v16-latin-900italic.eot");
  src: local("Lato Black Italic"), local("Lato-BlackItalic"),
    url("../fonts/lato-v16-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-900italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-900italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-900italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-900italic.svg#Lato") format("svg");
}

/* END OF FONTS */

/* VARIABLES  */

:root {
  --dark: #081924;
  --light: #f9f8f8;
  --blue: #62929e;
  --red: #db504a;
  --yellow: #f8c462;
  --green: #aada81;
  height: 100%;
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

body {
  font-family: lato, sans-serif;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}
.col {
  margin: 15px auto;
  position: relative;
  width: 50%;
  padding: 0px 25px;
}

/* NAV */
nav {
  background-color: #c06c84;
  grid-area: nav;
  height: 50px;
  z-index: 10000;

}

nav ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
}

nav ul li {
  display: block;
  cursor: pointer;
  height: 100%;
}

nav a {
  display: block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding: 12px;
}
nav ul ul {
  display: none;
  position: absolute;
}
nav ul li:hover {
  background-color: #d49bac;
}
nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  display: list-item;
  position: relative;
  background-color: #c06c84;
}
nav ul ul li:hover {
  background-color: #d49bac;
}

/* HOMEPAGE */

.homepage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 280px auto auto 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "figure figure figure figure"
    "aside main main main"
    "aside main main main"
    "aside section1 section2 section3"
    "footer footer footer footer";
}

/* ABOUT PAGE */
.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 280px 1fr auto;
  grid-template-areas:
    "nav nav nav"
    "figure figure figure"
    "aside main main "
    "footer footer footer";
}

.about aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image {
  height: 300px;
  width: 300px;
}

.contact-image img {
  width: 100%;
  border: rgba(0, 0, 0, 0.3) 1px solid;
}

/* MUSIC PAGE */
.music {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 280px 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "figure figure figure figure"
    "main main main main"
    "footer footer footer footer";
}

/* DOJA-WAVER PAGE */

.waver {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 50px 280px 1fr auto;
  grid-template-areas:
    "nav"
    "figure"
    "main"
    "footer";
}

figure {
  background-image: url(../media/img/dojapoes_banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  grid-area: figure;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20vh;
  margin: 0;
}

figure > h1 {
  position: relative;
}

.title-foreground {
  position: relative;
  text-transform: uppercase;
  top: 0;
  color: var(--light);
  text-shadow: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title-background {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  color: var(--red);
  text-shadow: none;
  -webkit-text-stroke-width: 7px;
  transform: rotate(-1deg) scale(1.03);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: var(--light);
  grid-area: main;
  grid-template-rows: 3fr;
  padding: 20px;
  background-color: #ffa8d4;
  font-size: 20px;
}
aside {
  background-color: #ff86c3;
  grid-area: aside;
  padding: 20px;
  font-size: 20px;
}
.section-1 {
  background-color: #8040b8;
  grid-area: section1;
  padding: 20px;
  font-size: 20px;
}
.section-2 {
  background-color: #6d2fa2;
  grid-area: section2;
  padding: 20px;
  font-size: 20px;
}
.section-3 {
  background-color: #571e89;
  grid-area: section3;
  padding: 20px;
  font-size: 20px;
}

/* CONTACT PAGINA */
.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px 367px 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "figure figure figure figure"
    "main main main main"
    "footer footer footer footer";
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "lato";
}

#contact h3 {
  color: #f96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--red);
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#map {
  width: 100%;
  min-height: 50%;
  height: 100%;
}

/* Music */
.songs {
  margin: 20px 50px;
}
.audio-container {
  width: 100%;
  background-color: rgb(211, 211, 211);
  min-height: 200px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.3s;
}
.audio-container:first-child {
  border-radius: 12.5px 12.5px 0px 0px;
}
.audio-container:last-child {
  border-radius: 0px 0px 12.5px 12.5px;
}
.audio-container:nth-child(even) {
  background-color: rgb(190, 190, 190);
}
.audio-container:hover {
  background-color: rgb(180, 180, 180);
}
audio {
  margin-top: 10px;
  width: 100%;
  background-color: rgb(160, 160, 160);
  border-radius: 8.5px;
}
audio::-webkit-media-controls-panel {
  background-color: rgb(160, 160, 160);
}

audio:focus {
  outline: none;
}

.album-cover {
  height: 200px;
  width: 200px;
}

.album-cover img {
  width: 100%;
  border: rgba(0, 0, 0, 0.3) 1px solid;
}
.song-info {
  margin-left: 10px;
}
.song-info h1,
.song-info h3 {
  margin: 0;
}

/* FOOTER  */

footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 30px 30px 20px 30px;
  grid-area: footer;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
.column-title {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: #f9f8f86e 2px solid;
  color: var(--blue);
  padding: 3px 6px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-link {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
}
.footer-link-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  align-items: center;
}

a > i {
  width: 32px;
  margin-right: 4px;
}

footer a {
  color: var(--light);
  text-decoration: none;
}
footer a:hover {
  color: var(--blue);
  transition: 300ms;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 640px) {
  .homepage {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto auto auto auto;
    grid-template-areas:
      "nav"
      "figure"
      "main"
      "aside"
      "section1"
      "section2"
      "section3"
      "footer";
  }
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav"
      "figure"
      "aside"
      "main"
      "footer";
  }
  .waver {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav"
      "figure"
      "main"
      "footer";
  }
  .music {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav"
      "figure"
      "main"
      "footer";
  }
  .contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav"
      "figure"
      "main"
      "footer";
  }

  nav {
    background-color: #c06c84;
    grid-area: nav;
    height: fit-content;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    /* height: 100%; */
  }
  
  nav ul li {
    display: block;
    cursor: pointer;
    height: auto;
  }
  
  nav a {
    display: block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    /* height: 100%; */
    width: 100%;
    padding: 12px;
  }
  nav ul ul {
    display: block;
    position: relative;
  }
  .interactief {
    display:none;
  }
  .li-interactief:hover {
    background-color:transparent;
  }
  nav ul li:hover {
    background-color: #d49bac;
  }
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul ul li {
    width: auto;
    display: list-item;
    position: relative;
    background-color: transparent;
  }
  nav ul ul li:hover {
    background-color: #d49bac;
  }

  main {
    font-size: 16px;
  }
  aside {
    font-size: 16px;
  }
  .section-1 {
    font-size: 16px;
  }
  .section-2 {
    font-size: 16px;
  }
  .section-3 {
    font-size: 16px;
  }

  .songs {
    margin: 0px;
  }
  .col {
    width: 100%;
    padding: 0px 5px;
  }
}
