/* FONTS */

/* lato-100 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/lato-v16-latin-100.eot");
  src: local("Lato Hairline"), local("Lato-Hairline"),
    url("../fonts/lato-v16-latin-100.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-100.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-100.woff") format("woff"),
    url("../fonts/lato-v16-latin-100.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-100.svg#Lato") format("svg");
}
/* lato-100italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/lato-v16-latin-100italic.eot");
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"),
    url("../fonts/lato-v16-latin-100italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-100italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-100italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-100italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-100italic.svg#Lato") format("svg");
}
/* lato-300 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v16-latin-300.eot");
  src: local("Lato Light"), local("Lato-Light"),
    url("../fonts/lato-v16-latin-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-300.woff") format("woff"),
    url("../fonts/lato-v16-latin-300.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-300.svg#Lato") format("svg");
}
/* lato-300italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/lato-v16-latin-300italic.eot");
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
    url("../fonts/lato-v16-latin-300italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-300italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-300italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-300italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-300italic.svg#Lato") format("svg");
}
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v16-latin-regular.eot");
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-v16-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-regular.woff") format("woff"),
    url("../fonts/lato-v16-latin-regular.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-regular.svg#Lato") format("svg");
}
/* lato-italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-v16-latin-italic.eot");
  src: local("Lato Italic"), local("Lato-Italic"),
    url("../fonts/lato-v16-latin-italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-italic.svg#Lato") format("svg");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v16-latin-700.eot");
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-v16-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-700.woff") format("woff"),
    url("../fonts/lato-v16-latin-700.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-700.svg#Lato") format("svg");
}
/* lato-700italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/lato-v16-latin-700italic.eot");
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"),
    url("../fonts/lato-v16-latin-700italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-700italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-700italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-700italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-700italic.svg#Lato") format("svg");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v16-latin-900.eot");
  src: local("Lato Black"), local("Lato-Black"),
    url("../fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-900.woff") format("woff"),
    url("../fonts/lato-v16-latin-900.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-900.svg#Lato") format("svg");
}
/* lato-900italic - latin */
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/lato-v16-latin-900italic.eot");
  src: local("Lato Black Italic"), local("Lato-BlackItalic"),
    url("../fonts/lato-v16-latin-900italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/lato-v16-latin-900italic.woff2") format("woff2"),
    url("../fonts/lato-v16-latin-900italic.woff") format("woff"),
    url("../fonts/lato-v16-latin-900italic.ttf") format("truetype"),
    url("../fonts/lato-v16-latin-900italic.svg#Lato") format("svg");
}

/* END OF FONTS */

/* VARIABLES  */

:root {
  --dark: #081924;
  --light: #f9f8f8;
  --blue: #62929e;
  --red: #db504a;
  --yellow: #f8c462;
  --green: #aada81;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.text-center {
  text-align: center !important;
}

/* HOMEPAGE */

body {
  font-family: lato, sans-serif;
}

.homepage {
  display: grid;
  /* min-height: 175vh; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside section1 section2 section3"
    "footer footer footer footer";
}

header {
  background-image: url(https://yt3.ggpht.com/iHVSjigfB40tLyeYWWwPkTqi5wdEV42UhtnEUg9aBj0CXCrw2p01ZSN2gcKs-gZPC4Jak0WG2w=w640-fcrop64=1,32b75a57cd48a5a8-k-c0xffffffff-no-nd-rj);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
nav {
  background-color: #c06c84;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main {
  background-color: #8a65ac;
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
aside {
  background-color: #355c7d;
  grid-area: aside;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-1 {
  background-color: #732cb1;
  grid-area: section1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-2 {
  background-color: #440c75;
  grid-area: section2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section-3 {
  background-color: #230042;
  grid-area: section3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* FOOTER  */

footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 30px 30px 20px 30px;
  grid-area: footer;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.column-title {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: #f9f8f86e 2px solid;
  color: var(--blue);
  padding: 3px 6px;
  margin-bottom: 15px;
  text-align: center;
}
.footer-link {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
  margin-bottom: 5px;
  text-align: center;
}
.footer-link-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  align-items: center;
}

a > i {
  width: 32px;
  margin-right: 4px;
}

footer a {
  color: var(--light);
  text-decoration: none;
}
footer a:hover {
  color: var(--blue);
  transition: 300ms;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 992px) {
  .homepage {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "nav nav nav"
      "header header header"
      "aside main main"
      "aside main main"
      "aside section1 section1"
      "aside section2 section2"
      "aside section3 section3"
      "footer footer footer";
  }
}
@media only screen and (max-width: 600px) {
  .homepage {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "section1"
      "section2"
      "section3"
      "footer";
  }
}
